

*, 
*::before,
*::after {
    box-sizing: border-box;
    -webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
	cursor: default;
}

body {
    margin: 0;
    font-family: sans-serif;
}

main {
    padding-top: 50px;
    max-width: 800px;
    margin: auto;
}

.strikethrough {
    text-decoration: line-through;
}

.container {
    display: grid;
    margin: 2rem 0;
    min-width: 800px;
    min-height: 800px;
    border: 2px solid #212121;
}

.container > div {
    background-color: #fff;
    position: relative;
}

#commands {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.commandColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button, input {
    width: 90px;
    height: 30px;
    font-size: 16px;
}
